<h2>Welcome, current user - <%= Helpers.current_user(session).username %></h2>

<h3>List of All Tweets</h3>
<% Tweet.all.each do |tweet| %>
<ul>
<li><h3><%= tweet.content %></h3></li>
</ul>
<% end %>

<a href="/logout">Log Out</a> 