<h2>Welcome, - <%= Helpers.current_user(session).username %></h2>

<% if !Tweet.all.empty? %>
    <h3>List of All Tweets</h3>
    <% Tweet.all.each do |tweet| %>
    <ul>
    <li><h3><%= tweet.content %> - This tweet belongs to <% if Helpers.current_user(session).id == tweet.user_id %> <h3>you</h3>
    <% else %>
    <%= User.all.find {|user| user.id == tweet.user_id}.username %></h3></li>
    <% end %>
    </ul>
    <% end %>
<% else %>
    <h3>Currently, there is no Tweet content.</h3>
    
<% end %>
<br>
<h3><a href="/tweets/new">Add Tweet Content</a></h3>
<br>

<h3><a href="/logout">Log Out</a></h3>