<h1>Welcome User - <%= @user.username %></h1>

<h2>Your Tweets</h2>
<% @user.tweets.each do |tweet| %>
    <%= tweet.content %>
<% end %>

<% if Helpers.is_logged_in?(session) %>
    <% if Helpers.current_user(session).id == @user.id %>
        <h3>You are logged in and <a href="/logout">Sign Out Here</a></h3>
    <% else %>
        <p>Your not logged in</p>
    <% end %>
<% else%>
    <p>No User Logged In</p>
<% end %>
